{% extends 'tc_DigitalMarketing/createrUploadbase.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    

    <div class="container-fluid logwrap">
        <div class="login-card">
            <div class="login-card-text">
                <h5>Welcome to <b>Creative Management!</b></h5>
                <p> Please sign-in to your account and start the adventure </p>
            </div>
            <div class="login-card-form">
                <form class="login-form" method="POST">
                    <div class="col-12">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <div class="login-button">
                        <button type="submit" >Login</button>
                    </div>
                    </div>
                    <div class="v-col v-col-12 text-center"><span>New on our platform?</span><a href="{% url 'register'%}" class="text-primary ms-2"> Create an account </a></div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}
