{% extends "registration/index.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<div class="container-fluid logwrap">
    <div class="login-card">
        {% include 'tc_DigitalMarketing/messages.html' %}
        <div class="login-card-text">
            <h5><b>Reset your password</b></h5>
        </div>
        <div class="login-card-form">
            {% if validlink %}
            <form class="login-form" method="POST">
                <p>Please enter your new password twice:</p>
                {% csrf_token %}
                {{form | crispy}}
                <div class="login-button">
                    <button type="submit" >Change my password</button>
                </div>
            </form>
            {% else %}
            <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}


