{% extends "registration/index.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<div class="container-fluid logwrap">
    <div class="login-card">
        {% include 'tc_DigitalMarketing/messages.html' %}
        <div class="login-card-text">
            <h5><b>Reset your password</b></h5>
        </div>
        <div class="login-card-form">
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the
            address you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}
