{% extends "registration/index.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<div class="container-fluid logwrap">
    <div class="login-card">
        {% include 'tc_DigitalMarketing/messages.html' %}
        <div class="login-card-text">
            <h5><b>Forgotten your password?</b></h5>
            <p>Enter your e-mail address to obtain a new password.</p>
        </div>
        <div class="login-card-form">
            <form class="login-form" method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <div class="login-button">
                    <button type="submit" >Send e-mail</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
