{% extends "registration/index.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<div class="container-fluid logwrap">
    <div class="login-card">
        {% include 'tc_DigitalMarketing/messages.html' %}
        <div class="login-card-text">
            <h5><b>Password set</b></h5>
        </div>
        <div class="login-card-form">
            <form class="login-form" method="POST">
                <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
            </form>

        </div>
    </div>
</div>
{% endblock %}
